################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DatabaseFirstWebApi/DatabaseFirstWebApi
/DatabaseFirstWebApi/.vs/DatabaseFirstWebApi/DesignTimeBuild
/DatabaseFirstWebApi/.vs/DatabaseFirstWebApi/v16/Server/sqlite3
/.vs/VSWorkspaceState.json
